<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180902982827-ak7qnj4d6o3aa4ol2pduihvhvo7iqiqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180902982827-ak7qnj4d6o3aa4ol2pduihvhvo7iqiqo</string>
	<key>API_KEY</key>
	<string>AIzaSyCTjqylWgG6_H_03dTmrsM8QQk2gdeTa7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>180902982827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topic.Topic10914</string>
	<key>PROJECT_ID</key>
	<string>topic10914</string>
	<key>STORAGE_BUCKET</key>
	<string>topic10914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180902982827:ios:f1b66a1e13ed21537733ee</string>
	<key>DATABASE_URL</key>
	<string>https://topic10914-default-rtdb.firebaseio.com</string>
</dict>
</plist>